#home{
    padding-top: 2rem;
    background-image: url(/Imagens/bg_home.svg);
    width: 100%;
    height: 85vh;
}

.banner{
    font-family: var(--titulo);
    background-color: #ACCFBC;
    border-radius: 30px;
    width: 84%;
    height: 60vh;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
}

.banner_column-left{
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
    position: relative;
}

.banner_btn-top{
    padding: 0.3rem 1rem;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background-color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    color: #04844C;
    margin-bottom: 1.5rem;
}

.Banner-title{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 700;
}

.banner-vector{
    position: absolute;
    bottom: 14vh;
    left: 50px;
}

.banner-bottom{
    margin: 4rem 0 4rem 1rem;
    display: flex;
    align-items: center;
}

.banner-btn_bottom{
    padding: 0.6rem 1.3rem;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    color: #04844C;
    margin-right: 3rem;
    cursor: pointer;
}

.banner-bottom p{
    font-size: 18px;
    color: #04844C;
    font-weight: 700;
}