.rodape{
    background-image: url(/Imagens/rodape_bg.png);
    
    height: 60vh;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    font-family: "Poppins", sans-serif;
}

.rodape-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.rodape-logo h3{
    color: #04844C;
    font-weight: 800;
}

.rodape-informacoes h1{
    font-size: 40px;
    color: #04844C;
    font-weight: 800;
}

.rodape-informacoes h3{
    font-size: 20px;
    margin: 1rem 0;
    font-weight: 800;
}

.rodape-informacoes p{
    font-size: 18px;
    color: #04844C;
    font-weight: 800;
}

.rodape-img{
    margin: 1rem 2rem 1rem 0;
}