#system{
    margin: 3rem;
}

.system-title{
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: #04844C;
    text-align: center;
    margin-bottom: 5rem;
}

.system-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.system-card_top{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.card-bottom{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.card-description{
    margin: 1.5rem;
    text-align: center;
    padding: 1rem 1rem 4rem 1rem;
    background-color: #04844C;
    border-radius: 1.5rem;
    height: 35vh;
    width: 18vw;
}

.card-description h1{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

.card-description p{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

.system-card_bottom{
    margin: 3rem;
    display: flex;
    align-items: center;
}

.card-description-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
    text-align: center;
    padding: 1rem;
    background-color: #04844C;
    border-radius: 1.5rem;
    height: 25vh;
    width: 18vw;
}

.card-description-bottom p{
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
    color: #FFFFFF;
    font-weight: 700;
}

.system-btn{
    font-family: "Montserrat", sans-serif;
    background-color:#04844C ;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
}